In [4]:
from selenium import webdriver
from selenium.webdriver import ActionChains
from selenium.webdriver.common.by import By
from selenium import webdriver as wd
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup
import requests
import time
import re
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error

In [9]:
url = "http://www.kbreport.com/history/pitcher/main"
driver = webdriver.Chrome("/Users/young/Documents/chromedriver")
driver.get(url)

In [20]:
#년도 설정
season_box = driver.find_element(By.CSS_SELECTOR,'#searchFrm > div.ltb-select-left > div.ltb-sl-1 > select.ltb-season-select')
season_box.send_keys('1991')

In [24]:
#검색
driver.find_element(By.CSS_SELECTOR,'#searchFrm > div.ltb-select-right > button').click()

In [25]:
#행 설정
row_box = driver.find_element(By.CSS_SELECTOR,'#resultListDiv > div.page-row-box > select')
row_box.send_keys('100')

In [44]:
html = driver.page_source
soup = BeautifulSoup(html,'html.parser')

paging = soup.select('#paging > a')
last_page = paging[-1]['href']
last_page = int(re.findall('[0-9]',last_page)[0])

In [ ]:
tf = soup.select('#resultListDiv > table > tbody > tr')

In [82]:
line = re.split('\n',tf[1].text)
del line[0],line[-1]
line

['1',
 '김성식',
 'LG',
 '0',
 '0',
 '2',
 '19',
 '1',
 '196.0',
 '1.65',
 '0.00',
 '0.00',
 '0.051',
 '-675.00',
 '0.00',
 '26.90',
 '2.66',
 '2.31',
 '12.08']

In [87]:
old_record = []
for i in range(1,len(tf)):
    line = re.split('\n',tf[i].text)
    del line[0],line[-1]
    old_record.append(line)

In [88]:
pd.DataFrame(old_record)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,1,김성식,LG,0,0,2,19,1,196.0,1.65,0.00,0.00,0.051,-675.00,0.00,26.90,2.66,2.31,12.08
1,2,선동열,해태,19,4,6,35,22,203.0,9.31,1.11,0.35,0.253,80.40,1.55,9.64,1.17,1.61,11.53
2,3,이강철,해태,15,11,3,36,24,214.7,8.09,2.26,0.84,0.248,70.40,3.19,4.38,2.68,3.00,6.23
3,4,김용수,LG,12,11,10,41,16,190.0,6.11,2.94,0.24,0.291,72.80,2.79,4.32,2.53,2.66,5.75
4,5,박동희,롯데,14,9,3,30,22,189.7,7.21,4.56,0.19,0.259,74.20,2.47,5.49,2.70,2.96,5.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,노상수,롯데,0,0,0,1,0,3.0,6.00,9.00,3.00,0.364,52.60,12.00,-0.28,9.51,9.68,-0.18
96,97,김건우,LG,1,1,0,2,2,5.0,3.60,9.00,1.80,0.250,52.10,9.00,-0.25,8.15,8.08,-0.18
97,98,김덕근,LG,1,1,0,11,3,42.0,3.43,5.79,0.43,0.238,74.80,3.00,0.55,4.80,4.68,-0.18
98,99,이상범,삼성,0,0,0,3,0,3.3,2.70,8.10,0.00,0.182,55.60,10.80,-0.22,8.55,8.38,-0.18
99,100,차동철,LG,0,0,0,3,0,3.7,0.00,2.45,2.45,0.421,52.10,14.73,-0.38,8.37,7.86,-0.19

---

In [97]:
df = pd.read_csv('/Users/young/Downloads/salary_baseball.csv',encoding='cp949')
df[df['이름']=='최동원']

Empty DataFrame
Columns: [이름, 생년월일, 활약연도, 연도, 연봉(만원)]
Index: []

In [95]:
df

        이름        생년월일         활약연도    연도  연봉(만원)
0      가내영  1971-03-29  1991년~2003년  1991     NaN
1      가내영  1971-03-29  1991년~2004년  1992     NaN
2      가내영  1971-03-29  1991년~2005년  1993     NaN
3      가내영  1971-03-29  1991년~2006년  1994     NaN
4      가내영  1971-03-29  1991년~2007년  1995     NaN
...    ...         ...          ...   ...     ...
8097   황진수  1989-02-15  2012년~2015년  2013   2,700
8098   황진수  1989-02-15  2012년~2015년  2014   2,500
8099   황진수  1989-02-15  2012년~2015년  2015   2,900
8100  히메네스  1988-01-18  2015년~2015년  2015  25,000
8101  히메네스  1982-05-07  2014년~2014년  2014  25,000

[8102 rows x 5 columns]