In [5]:
from selenium import webdriver
from selenium.webdriver import ActionChains
from selenium.webdriver.common.by import By
from selenium import webdriver as wd
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup
import requests
import time
import re
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error

### KBreport

In [2]:
url = "http://www.kbreport.com/history/pitcher/main"
driver = webdriver.Chrome("/Users/young/Documents/chromedriver")
driver.get(url)

In [20]:
#년도 설정
season_box = driver.find_element(By.CSS_SELECTOR,'#searchFrm > div.ltb-select-left > div.ltb-sl-1 > select.ltb-season-select')
season_box.send_keys('1991')

In [24]:
#검색
driver.find_element(By.CSS_SELECTOR,'#searchFrm > div.ltb-select-right > button').click()

In [25]:
#행 설정
row_box = driver.find_element(By.CSS_SELECTOR,'#resultListDiv > div.page-row-box > select')
row_box.send_keys('100')

In [44]:
html = driver.page_source
soup = BeautifulSoup(html,'html.parser')

paging = soup.select('#paging > a')
last_page = paging[-1]['href']
last_page = int(re.findall('[0-9]',last_page)[0])

In [ ]:
tf = soup.select('#resultListDiv > table > tbody > tr')

In [82]:
line = re.split('\n',tf[1].text)
del line[0],line[-1]
line

['1',
 '김성식',
 'LG',
 '0',
 '0',
 '2',
 '19',
 '1',
 '196.0',
 '1.65',
 '0.00',
 '0.00',
 '0.051',
 '-675.00',
 '0.00',
 '26.90',
 '2.66',
 '2.31',
 '12.08']

In [87]:
old_record = []
for i in range(1,len(tf)):
    line = re.split('\n',tf[i].text)
    del line[0],line[-1]
    old_record.append(line)

In [88]:
pd.DataFrame(old_record)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,1,김성식,LG,0,0,2,19,1,196.0,1.65,0.00,0.00,0.051,-675.00,0.00,26.90,2.66,2.31,12.08
1,2,선동열,해태,19,4,6,35,22,203.0,9.31,1.11,0.35,0.253,80.40,1.55,9.64,1.17,1.61,11.53
2,3,이강철,해태,15,11,3,36,24,214.7,8.09,2.26,0.84,0.248,70.40,3.19,4.38,2.68,3.00,6.23
3,4,김용수,LG,12,11,10,41,16,190.0,6.11,2.94,0.24,0.291,72.80,2.79,4.32,2.53,2.66,5.75
4,5,박동희,롯데,14,9,3,30,22,189.7,7.21,4.56,0.19,0.259,74.20,2.47,5.49,2.70,2.96,5.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,노상수,롯데,0,0,0,1,0,3.0,6.00,9.00,3.00,0.364,52.60,12.00,-0.28,9.51,9.68,-0.18
96,97,김건우,LG,1,1,0,2,2,5.0,3.60,9.00,1.80,0.250,52.10,9.00,-0.25,8.15,8.08,-0.18
97,98,김덕근,LG,1,1,0,11,3,42.0,3.43,5.79,0.43,0.238,74.80,3.00,0.55,4.80,4.68,-0.18
98,99,이상범,삼성,0,0,0,3,0,3.3,2.70,8.10,0.00,0.182,55.60,10.80,-0.22,8.55,8.38,-0.18
99,100,차동철,LG,0,0,0,3,0,3.7,0.00,2.45,2.45,0.421,52.10,14.73,-0.38,8.37,7.86,-0.19

---

In [97]:
df = pd.read_csv('/Users/young/Downloads/salary_baseball.csv',encoding='cp949')
df[df['이름']=='최동원']

Empty DataFrame
Columns: [이름, 생년월일, 활약연도, 연도, 연봉(만원)]
Index: []

        이름        생년월일         활약연도    연도  연봉(만원)
0      가내영  1971-03-29  1991년~2003년  1991     NaN
1      가내영  1971-03-29  1991년~2004년  1992     NaN
2      가내영  1971-03-29  1991년~2005년  1993     NaN
3      가내영  1971-03-29  1991년~2006년  1994     NaN
4      가내영  1971-03-29  1991년~2007년  1995     NaN
...    ...         ...          ...   ...     ...
8097   황진수  1989-02-15  2012년~2015년  2013   2,700
8098   황진수  1989-02-15  2012년~2015년  2014   2,500
8099   황진수  1989-02-15  2012년~2015년  2015   2,900
8100  히메네스  1988-01-18  2015년~2015년  2015  25,000
8101  히메네스  1982-05-07  2014년~2014년  2014  25,000

[8102 rows x 5 columns]

### Statiz

In [172]:
for i in range(1,2):
    for i in range(1,10):
        s = i = 1
    print(s)

1

In [ ]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

wait = WebDriverWait(driver, 10)

wait.until(EC.element_to_be_selected(
    (By.CSS_SELECTOR, '#contents > div.sub-content')))

In [6]:
statiz_baseball_salary = pd.DataFrame(columns=["선수","연도","팀","연봉(만원)","WAR"])
for year in range(1997,2022):
    for team in [1,2,3,4,5,6,7,8,9,10,101,102]:
        url = f"http://www.statiz.co.kr/salary.php?opt=0&sopt={year}&cnv=&pos=&te={team}"
        year_salary_data = pd.read_html(url)[1]
        statiz_baseball_salary = pd.concat([statiz_baseball_salary,year_salary_data])

In [ ]:
['순', '이름', '팀', 'WAR*', 'G', '타석', '타수', '득점', '안타', '2타', '3타', '홈런',
       '루타', '타점', '도루', '도실', '볼넷', '사구', '고4', '삼진', '병살', '희타', '희비', '타율',
       '출루', '장타', 'OPS', 'wOBA', 'wRC+', 'WAR*', 'WPA']

In [63]:
statiz_baseball_records = pd.DataFrame(columns=['순', '이름', '팀', 'WAR*', 'G', '타석', '타수', '득점', '안타', '2타', '3타', '홈런',
       '루타', '타점', '도루', '도실', '볼넷', '사구', '고4', '삼진', '병살', '희타', '희비', '타율',
       '출루', '장타', 'OPS', 'wOBA', 'wRC+', 'WAR*', 'WPA'])
year = 2021
url = f'http://www.statiz.co.kr/stat_at.php?opt=0&sopt=0&re=0&ys={year}&ye={year}&se=0&te=&tm=&ty=2016&qu=auto&po=51&as=&ae=&hi=&un=&pl=&da=1&o1=WAR_ALL_ADJ&o2=TPA&de=1&lr=0&tr=&cv=&ml=1&sn=30&si=&cn='
df = pd.read_html(url)[0]
df.columns = df.columns.droplevel(0)
statiz_baseball_records = pd.concat([statiz_baseball_records,df])

In [64]:
statiz_baseball_records

,순,이름,팀,WAR*,G,타석,타수,득점,안타,2타,...,희타,희비,타율,출루,장타,OPS,wOBA,wRC+,WAR*,WPA
0,1,박성재,1+두P,0.00,1,1,1,0,0,0,...,0,0,.000,.000,.000,.000,.000,NaN,0.00,-0.00
1,NaN,서진용,1+SP,0.00,5,1,1,0,0,0,...,0,0,.000,.000,.000,.000,.000,NaN,0.00,-0.02
2,NaN,나원탁,1+삼P,0.00,1,1,1,0,0,0,...,0,0,.000,.000,.000,.000,.000,NaN,0.00,-0.00
3,4,고영표,1+kP,0.00,1,1,0,0,0,0,...,0,0,NaN,1.000,NaN,NaN,.738,NaN,0.00,0.00
4,5,박관진,1+키P,0.00,1,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
5,6,조요한,1+SP,0.00,1,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
6,NaN,채지선,1+LP,0.00,4,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
7,NaN,윤정현,1+키P,0.00,1,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
8,NaN,김태훈,1+키P,0.00,5,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
9,NaN,심재민,1+kP,0.00,3,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
10,순,이름,팀,정렬,G,타석,타수,득점,안타,2타,...,희타,희비,비율,비율,비율,비율,비율,비율,WAR*,WPA
11,순,이름,팀,WAR*,G,타석,타수,득점,안타,2타,...,희타,희비,타율,출루,장타,OPS,wOBA,wRC+,WAR*,WPA
12,NaN,김민수,1+kP,0.00,6,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
13,NaN,김윤수,1+삼P,0.00,2,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
14,NaN,신민혁,1+NP,0.00,1,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
15,NaN,조현우,1+KP,0.00,3,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
16,NaN,홍건희,1+두P,0.00,1,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
17,NaN,오승환,1+삼P,0.00,2,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
18,NaN,김정인,1+넥P,0.00,3,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
19,NaN,이찬혁,1+LP,0.00,1,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
20,NaN,김동욱,1+키P,0.00,1,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
21,NaN,이교훈,1+두P,0.00,2,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
22,순,이름,팀,정렬,G,타석,타수,득점,안타,2타,...,희타,희비,비율,비율,비율,비율,비율,비율,WAR*,WPA
23,순,이름,팀,WAR*,G,타석,타수,득점,안타,2타,...,희타,희비,타율,출루,장타,OPS,wOBA,wRC+,WAR*,WPA
24,NaN,안영명,1+한P,0.00,1,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
25,NaN,김영규,1+NP,0.00,1,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
26,NaN,송윤준,1+한P,0.00,1,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
27,NaN,이상규,1+LP,0.00,3,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
28,NaN,이정용,1+LP,0.00,1,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
29,NaN,김건태,1+NP,0.00,1,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
30,NaN,유원상,1+LP,0.00,1,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
31,NaN,임창민,1+NP,0.00,1,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
32,NaN,박승주,1+넥P,0.00,1,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
33,NaN,남호,1+LP,0.00,1,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00

### KBO

In [69]:
url = f'https://www.koreabaseball.com/Record/Player/PitcherBasic/Basic1.aspx?sort=ERA_RT'
df = pd.read_html(url)
df

[Empty DataFrame
 Columns: [순위, 선수명, 팀명, ERA, G, W, L, SV, HLD, WPCT, IP, H, HR, BB, HBP, SO, R, ER, WHIP]
 Index: []]

In [70]:
url = "https://www.koreabaseball.com/Record/Player/PitcherBasic/Basic1.aspx?sort=ERA_RT"
driver = webdriver.Chrome("/Users/young/Documents/chromedriver")
driver.get(url)

In [80]:
#년도 설정
game_box = driver.find_element(By.CSS_SELECTOR,'#cphContents_cphContents_cphContents_ddlSeries_ddlSeries')
game_box.send_keys('KBO 정규시즌')
season_box = driver.find_element(By.CSS_SELECTOR,'#cphContents_cphContents_cphContents_ddlSeason_ddlSeason')
season_box.send_keys('1992')


# season_box.click()

In [81]:
html = driver.page_source
soup = BeautifulSoup(html,'html.parser')

In [136]:

tf = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')

In [146]:
column_name = re.split('\n',tf[0].text)
del line[0],line[-1]

['',
 '1',
 '염종석',
 '롯데',
 '2.33',
 '35',
 '13',
 '2',
 '17',
 '9',
 '6',
 '0',
 '0.654',
 '804',
 '204 2/3',
 '171',
 '6',
 '35',
 '8',
 '127',
 '68',
 '53',
 '']

In [141]:
basic_record_1 = []
for i in range(1,len(tf)):
    line = re.split('\n',tf[i].text)
    del line[0],line[-1]
    basic_record_1.append(line)

In [143]:
pd.DataFrame(basic_record_1)

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,2,정민철,빙그레,2.48,33,11,3,14,4,7,...,0.778,785,195 2/3,141,15,68,3,145,61,54
1,3,박은진,태평양,2.71,46,5,0,10,7,14,...,0.588,724,172 2/3,155,7,65,4,114,56,52
2,4,이태일,삼성,2.86,27,5,2,13,7,1,...,0.650,625,154,140,7,43,4,52,60,49
3,5,조계현,해태,2.94,37,3,1,10,6,12,...,0.625,632,156,123,13,54,5,98,64,51
4,6,김기범,LG,2.98,28,7,1,8,6,3,...,0.571,603,145,130,6,50,3,92,57,48
5,7,한용덕,빙그레,2.99,29,9,2,9,11,3,...,0.450,750,186 1/3,144,16,52,13,122,69,62
6,8,장정순,빙그레,3.07,29,3,1,14,7,2,...,0.667,666,155 1/3,159,12,48,5,77,64,53
7,9,장호연,OB,3.12,35,17,1,16,12,2,...,0.571,939,225,225,18,59,12,90,95,78
8,10,김정수,해태,3.16,33,5,3,14,8,1,...,0.636,719,165 1/3,144,11,78,20,126,68,58
9,11,송진우,빙그레,3.25,48,4,1,19,8,17,...,0.704,815,191 1/3,157,17,97,4,130,79,69
10,12,김원형,쌍방울,3.32,22,7,1,8,7,1,...,0.533,578,138 1/3,125,13,54,6,104,60,51
11,13,김태원,LG,3.40,31,8,3,10,14,1,...,0.417,759,177 1/3,180,10,64,7,119,81,67
12,14,이강철,해태,3.44,33,12,2,18,9,0,...,0.667,899,217 1/3,179,29,71,16,156,88,83
13,15,오봉옥,삼성,3.55,38,2,1,13,0,2,...,1.000,556,126 2/3,114,7,74,4,64,58,50
14,16,김상진,OB,3.58,33,9,1,11,13,1,...,0.458,716,168 2/3,131,11,89,6,96,79,67
15,17,윤학길,롯데,3.61,30,14,2,17,5,2,...,0.773,873,212,204,16,58,3,131,87,85
16,18,박정현,태평양,3.69,33,8,0,13,7,6,...,0.650,705,165 2/3,154,12,72,12,85,75,68
17,19,정삼흠,LG,4.04,46,4,1,14,11,5,...,0.560,776,180 1/3,172,17,68,11,128,89,81
18,20,박성기,쌍방울,4.08,38,3,1,9,8,1,...,0.529,663,152 1/3,141,17,76,5,88,81,69
19,21,김상엽,삼성,4.19,41,5,1,8,12,15,...,0.400,602,144,125,9,71,4,103,71,67
20,22,김인철,삼성,4.20,28,1,0,8,7,1,...,0.533,581,128 2/3,98,10,104,8,88,73,60
21,23,안병원,태평양,4.26,25,6,1,10,8,2,...,0.556,545,126 2/3,124,12,52,8,88,68,60
22,24,신동수,해태,4.46,35,0,0,13,9,0,...,0.591,597,137 1/3,157,17,40,4,65,72,68
23,25,양상문,태평양,4.55,28,1,0,7,8,0,...,0.467,626,144 1/3,134,22,76,2,83,78,73
24,26,강길용,쌍방울,4.80,33,2,1,5,14,1,...,0.263,606,137,139,18,70,9,75,85,73
25,27,문희수,해태,5.08,33,3,0,10,8,1,...,0.556,644,145 1/3,145,12,56,12,73,91,82

---
d

In [150]:
import time

In [206]:
url1 = "https://www.koreabaseball.com/Record/Player/PitcherBasic/Basic1.aspx?sort=ERA_RT"
url2 = "https://www.koreabaseball.com/Record/Player/PitcherBasic/Basic2.aspx?sort=ERA_RT"


def seleniums(url):

    driver = webdriver.Chrome("/Users/young/Documents/chromedriver")
    driver.get(url)
    
    game_box = driver.find_element(By.CSS_SELECTOR,'#cphContents_cphContents_cphContents_ddlSeries_ddlSeries')
    game_box.send_keys('KBO 정규시즌')
    record_outer = []
    for year in range(1982,1983):
        time.sleep(1)
        print(year)

        driver.implicitly_wait(10)
        season_box = driver.find_element(By.CSS_SELECTOR,'#cphContents_cphContents_cphContents_ddlSeason_ddlSeason')
        season_box.send_keys(year)
        time.sleep(1)

        html = driver.page_source
        soup = BeautifulSoup(html,'html.parser')
        tf = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')

        for i in range(0,len(tf)):
            line = re.split('\n',tf[i].text)
            del line[0],line[-1]
            line.insert(0,year)
            record_outer.append(line)

        driver.implicitly_wait(10)
    
    # column_name = re.split('\n',tf[0].text)
    # del column_name[0],column_name[-1]
    # column_name.insert(0,'Year')

    return record_outer


record_outer = seleniums(url1)

1982

In [207]:
pd.DataFrame(record_outer)

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,1982,1,박철순,OB,1.84,36,15,2,24,4,...,0.857,871,224 2/3,151,7,67,6,108,60,46
1,1982,2,하기룡,MBC,2.30,43,7,4,13,10,...,0.565,781,191 2/3,160,10,53,13,108,68,49
2,1982,3,권영호,삼성,2.37,32,6,3,15,5,...,0.750,711,178 2/3,139,18,52,7,72,57,47
3,1982,4,황규봉,삼성,2.47,48,8,2,15,11,...,0.577,864,222 1/3,189,11,34,6,99,78,61
4,1982,5,김성한,해태,2.79,26,3,1,10,5,...,0.667,438,106 1/3,88,6,45,6,49,44,33
5,1982,6,성낙수,삼성,2.81,28,5,0,8,3,...,0.727,500,125,119,15,23,6,56,44,39
6,1982,7,이선희,삼성,2.91,38,4,3,15,7,...,0.682,698,167,152,11,73,9,73,67,54
7,1982,8,노상수,롯데,2.94,44,12,2,14,19,...,0.424,954,232 1/3,216,18,59,10,141,97,76
8,1982,9,김용남,해태,3.09,33,8,1,9,12,...,0.429,740,175,177,12,42,9,85,83,60
9,1982,10,유종겸,MBC,3.25,32,3,1,6,5,...,0.545,476,113 2/3,95,11,53,1,86,48,41
10,1982,11,선우대영,OB,3.39,27,6,1,7,6,...,0.538,566,138,139,8,31,4,65,64,52
11,1982,12,이길환,MBC,3.61,27,5,2,7,7,...,0.500,493,117 1/3,114,8,34,9,54,59,47
12,1982,13,이광권,MBC,3.72,31,2,1,7,4,...,0.636,489,116,105,8,46,11,57,62,48
13,1982,14,천창호,롯데,3.83,37,8,1,7,13,...,0.350,724,173 2/3,173,18,52,7,92,85,74
14,1982,15,방수원,해태,3.85,34,2,0,6,7,...,0.462,664,154 1/3,164,10,48,8,63,84,66
15,1982,16,황태환,OB,3.86,27,2,0,6,5,...,0.545,365,86 1/3,76,12,37,11,42,43,37
16,1982,17,이상윤,해태,3.88,23,5,0,7,5,...,0.583,442,102,87,8,63,1,58,51,44
17,1982,18,김문희,롯데,4.12,24,4,1,4,8,...,0.333,411,91 2/3,113,10,31,4,18,55,42
18,1982,19,박상열,OB,4.22,25,3,0,10,5,...,0.667,480,111,120,7,34,9,35,70,52
19,1982,20,강만식,해태,4.44,29,6,0,5,11,...,0.313,642,144,152,11,69,10,86,93,71
20,1982,21,정순명,MBC,4.47,25,1,0,7,5,...,0.583,416,92 2/3,105,9,38,8,47,62,46
21,1982,22,오문현,삼미,4.85,22,1,0,2,10,...,0.167,459,102,115,11,34,14,22,69,55
22,1982,23,계형철,OB,4.88,21,3,1,4,4,...,0.500,416,90 1/3,73,6,76,2,43,59,49
23,1982,24,이진우,롯데,5.27,22,1,0,5,2,...,0.714,373,82,90,10,51,5,49,56,48
24,1982,25,김재현,삼미,6.13,47,2,0,6,19,...,0.240,890,192 1/3,268,18,63,7,62,154,131
25,1982,26,감사용,삼미,6.46,41,1,0,1,14,...,0.067,615,133 2/3,179,25,46,2,23,106,96
26,1982,27,인호봉,삼미,6.56,38,3,0,5,10,...,0.333,636,133,149,19,96,19,41,129,97
27,1982,28,김동철,삼미,7.06,32,0,0,1,9,...,0.100,441,93,125,15,52,6,19,84,73

In [200]:
html = driver.page_source
soup = BeautifulSoup(html,'html.parser')
tf = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')


line = re.split('\n',tf[0].text)
del line[0],line[-1]
line.insert(0,year)

line

MaxRetryError: HTTPConnectionPool(host='127.0.0.1', port=52082): Max retries exceeded with url: /session/56d7e5bfb84c61be78b490f211de98fd/source (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f792929dc50>: Failed to establish a new connection: [Errno 61] Connection refused'))