In [1]:
import pandas as pd
import numpy as np
import konlpy
from konlpy.tag import Hannanum
from konlpy.tag import Kkma
from konlpy.tag import Komoran
from konlpy.tag import Okt
import re
import random
import numpy as np

okt = Okt()
komoran=Komoran()
kkma=Kkma()
hannanum=Hannanum()

In [2]:
df = pd.read_excel("/Users/young/git/project/export/비전공자 개발자_2023-01-31.xlsx")
df.rename(columns={'Unnamed: 0':'Rank'},inplace=True)

In [3]:
df.tail(5)

,Rank,title,description,author,timestamp
1045,1045,"문과 개발자, 정말 비전공자도 IT 취업이 가능할까?","문과 개발자, 정말 비전공자도 IT 취업이 가능할까? 문과라서 취업할 길이 보이...",그대 미소에 봄이 돼줄게요,2021.09.18.
1046,1046,"자바 개발자 되는 법, 비전공자에게 적합한 과정은?",자바 개발자 되는 법 비전공자에게 맞는 과정 자바 개발자가 되기 위해 비전공자에...,IT교육및취업전문가 융쌤,2022.06.03.
1047,1047,"소프트웨어개발자되는법, 컴공출신 아닌 비전공자 자바웹포폴...",오늘은 컴공전공생이 아닌 비전공자가 #소프트웨어개발자되는법 #웹개발프로젝트 제작...,월요일에 만든 블로그,2022.01.20.
1048,1048,종로자바학원에서 비전공자도 개발자 취업 가능해요!!,종로자바학원에서 비전공자도 개발자 취업 가능해요!! 비전공자분들의 가장 큰 고민...,따봉아빠의 IT 일상,2017.09.08.
1049,1049,(비전공자 공부순서) 개발자가 하고 싶어요.....,그럼에도 불구하고 디지털노마드를 꿈꾸시거나 개발자의 꿈을 갖고 계신 분 혹은.....,초보개발자 _ 왕곰,2022.09.13.

In [4]:
df['structure'] = ''

In [5]:
def pos_seperator(pos):
    #품사
    pos = re.search(('(?<=\/)[a-zA-Z]*'),tup)[0]
    #형태소
    morphs = re.search(('.+(?=\/)'),tup)[0]

def add_scores():
    return 

def word_parser(df):
    morphs_list = []
    phrase_list = []
    structure_list = []
    # count_morphs_list = []
    # count_phrase_list = []
    # df 반복문 돌며 어절, 형태소 분해, 문장구조 분해 
    for idx,rows in df.iterrows():
        split_phrases = okt.phrases(rows[1])
        split_morphs = okt.pos(rows[1], join=True)

        for i in split_phrases:
            phrase_list.append(i + '/' + 'Noun')
        for i in split_morphs:
            if 'Punctuation' in i:
                continue
            morphs_list.append(i)
    #명사 중복 제거 후 구조화
        # tmp_structure = []
        tmp_structure = ''
        for jdx,tup in enumerate(okt.pos(rows[1])):
            if jdx > 0 and tmp == 'Noun' and tup[1] == 'Noun':
                continue
            tmp = okt.pos(rows[1])[jdx][1]
            # structure_list.append(tup[1])
            # tmp_structure += '_' + tup[1] if jdx != 0 or jdx != len(okt.pos(rows[1])) - 1 else tup[1]
            # if jdx != 0:
            #     tmp_structure += '_' + tup[1]
            # else:
            #     tmp_structure += tup[1]
            tmp_structure += '_' + tup[1]
            # structure_list.append([i for i in tup[1]])
        structure_list.append(tmp_structure)

    #unique값 찾기
    morphs_set = list(set(morphs_list))
    phrase_set = list(set(phrase_list))
    structure_set = list(set(structure_list))
    #빈도 카운트
    print(len(phrase_set))
    for i in range(len(morphs_set)):
        #두 리스트간 중복 삭제
        if morphs_set[i] in phrase_set:
            phrase_set.remove(morphs_set[i])
        morphs_set[i] = morphs_set[i] + '/' + str(morphs_list.count(morphs_set[i]))

    for i in range(len(phrase_set)):
        phrase_set[i] = phrase_set[i] + '_joint/' + str(phrase_list.count(phrase_set[i]))

    for i in range(len(structure_set)):
        structure_set[i] = structure_set[i] + '/' + str(structure_list.count(structure_set[i]))

    return phrase_set,morphs_set,structure_set,structure_list

phrase_set,morphs_set,structure_set,structure_list = word_parser(df)

3251

In [6]:
df_orgin_structure = []
for i in structure_list:
    
    split = re.split(('_'),i)
    del split[0]

    df_orgin_structure.append(split)

df['structure'] = df_orgin_structure

In [7]:
#단어 토큰 df화
frame = {
    'word' : [],
    'pos' : [],
    'cnt' : []
}
word_st = phrase_set + morphs_set
for i in word_st:
    try:
        split = re.split(('/'),i)
        # print(split[1],split[2],split[3])
        frame['word'].append(split[0])
        frame['pos'].append(split[1])
        frame['cnt'].append(int(split[2]))
    except:
        # print(i)
        continue

frame
df2 = pd.DataFrame(frame)
df2 = df2.sort_values(by="cnt",ascending=False)
df2

                    word         pos   cnt
3791                   비        Noun  1063
3408                 전공자        Noun  1062
3741                 개발자        Noun  1029
848                 비전공자  Noun_joint   659
3208                  취업        Noun   599
...                  ...         ...   ...
1423  비전공개발자 고졸 IT 취업 방법  Noun_joint     1
1424         취업 준비 Check  Noun_joint     1
1425           비전공자 문과생도  Noun_joint     1
1426            2020 하반기  Noun_joint     1
1983         43회 SQL 개발자  Noun_joint     1

[3966 rows x 3 columns]

In [8]:
# 문장구조 df화
structure_frame = {
    'structure' : [],
    'cnt' : []
}
for i in structure_set:
    split_cnt = re.split(('/'),i)
    cnt = int(split_cnt[-1])
    
    split = re.split(('_'),i)
    del split[0]
    split[-1] = re.split(('/'),split[-1])[0]
    # print(cnt)
    structure_frame['structure'].append(split)
    structure_frame['cnt'].append(cnt)
df3 = pd.DataFrame(structure_frame)
df3 = df3.sort_values(by="cnt",ascending=False)
df3

                                             structure  cnt
116                                             [Noun]   40
520                          [Noun, Punctuation, Noun]   19
548                                 [Noun, Josa, Noun]   18
684                                [Noun, Punctuation]   11
279             [Noun, Punctuation, Noun, Punctuation]    9
..                                                 ...  ...
275  [Noun, Alpha, Noun, Punctuation, Noun, Punctua...    1
276  [Noun, Alpha, Noun, Punctuation, Noun, Josa, N...    1
277  [Noun, Josa, Noun, Josa, Adjective, Noun, Punc...    1
280  [Noun, Verb, Noun, Verb, Verb, Noun, Punctuati...    1
389  [Alpha, Noun, Punctuation, Noun, Josa, Noun, V...    1

[778 rows x 2 columns]

In [9]:
df3_pop = df3[df3['cnt'] > 1]

for i in range(1):
    sample_structure = random.choices(list(df3_pop['structure']),weights=[i for i in df3_pop['cnt']])[0]

In [10]:
sample_structure_dict = dict.fromkeys(sample_structure)

In [11]:
df2

                    word         pos   cnt
3791                   비        Noun  1063
3408                 전공자        Noun  1062
3741                 개발자        Noun  1029
848                 비전공자  Noun_joint   659
3208                  취업        Noun   599
...                  ...         ...   ...
1423  비전공개발자 고졸 IT 취업 방법  Noun_joint     1
1424         취업 준비 Check  Noun_joint     1
1425           비전공자 문과생도  Noun_joint     1
1426            2020 하반기  Noun_joint     1
1983         43회 SQL 개발자  Noun_joint     1

[3966 rows x 3 columns]

In [12]:
#문장구조와 단어 조합
def random_choice(sample_list, weight):
    sample = random.choices(sample_list,weights=weight)
    return sample[0]

for pos in sample_structure:
    if pos == 'Noun':
        coin_flip = random_choice(["Noun","Noun_joint"],[0.2,0.8])
        df2_n = df2[df2['pos'] == coin_flip]
    else:
        df2_n = df2[df2['pos'] == pos]
    df2_n.reset_index(drop=False)
    df2_n.sort_values(by='cnt',ascending=False)

    match_senetence = []
    for i,row in df.iterrows():
        if sample_structure == row[5]:
            match_senetence.append(row[1])

    words = []
    
    for i in range(10):
        if pos == 'Punctuation':
            sample = random_choice(["?","!","??","!!"],[1,1,1,1])

        else:
            sample = random_choice(list(df2_n['word']),[i for i in df2_n['cnt']])

        words.append(sample)
    sample_structure_dict[pos] = words

print(sample_structure)
print(match_senetence)
print(sample_structure_dict)

['Noun']
['코딩 개발자 비전공자 취업 현실', '비전공자 백엔드 개발자 취업 학원', '자바개발취업 비전공자 개발자 준비', '비전공자 개발자 연봉', '비전공자 개발자 취준 후기', '비전공자 자바개발자 취업 학원', '웹개발자취업 비전공자 개발자 전문 과정', '비전공자 개발자 취업 준비방법', '모바일 앱 개발자 비전공자 취업 방법', '비전공자 개발자 취뽀 도전 시작', '청주컴퓨터학원 전액무료 국비지원 무스펙 비전공자 개발자 취업', '비전공자개발자취업', '비전공자 개발자 국비지원코스 후기', '백엔드개발자학원 비전공자 맞춤 취업 대비', '난 비전공자 개발자', '점핏 비전공자 개발자 취업 콘서트', '비전공자 개발자 진로 고민 및 마음가짐', '코딩 전문가 비전공자 취업 가능성', '청주자바학원 비전공자 개발자 취업후기', '점핏 비전공자 개발자 취업 콘서트 사전 신청 이벤트', '점핏 비전공자 개발자 취업 콘서트', '비전공자 개발자 면접 후기', '비전공자 프로그래머취업 취업성공패키지 소프트웨어개발자 취직', '비전공자 개발자', '비전공자 개발자 입사 첫 자격증', '비전공자컴퓨터취업 백엔드개발자 빅데이터직업', '비전공 문과 개발자취업 방법', '비전공자개발자 공부 방법', '점핏 비전공자 개발자 취업 콘서트', '점핏 비전공자 개발자 취업 콘서트', '비전공자 개발자 국비지원학원 후기', '점핏 비전공자 개발자 취업 콘서트', '백엔드개발자취업 비전공자 기초 교육 학원', '비전공자 안성 맞춤 자바개발자', '문과 개발자 국비지원 활용 및 포트폴리오 준비방법', '점핏 개발자 취업 비전공자 취업전략 취업콘서트', '비전공자 개발자 정보보안 빅데이터취업 취직방법', '빅데이터개발자 비전공자 취업 준비 방법', '개발자 국비지원 비전공자 취업 후기', '웹개발자 연봉 비전공자 최소 최대 기준점 및 국비지원 준비기간']
{'Noun': ['소프트웨어 개발자 취업 전공자와 비전공자 차이', '비전공자', '수 있는 전문 학원', '비전공자', 'IT개발자취업', '고졸도', '비전공자', '백엔드개발자 연봉', '비전공자', '중견이상 취업']}

In [119]:
----WIP------
tester = ['비전공자 개발자 취업 공부 솔직한 방향!', '백엔드개발자 비전공자 어떻게 준비하나요?', "백엔드개발자 비전공자가 취업하는 방법"]
word_key = []
word_joint = []
for i in tester:
    x = 0
    pos = okt.pos(i)
    # word_joint.append([j[0] for j in pos])
    while True:
        words = ''
        for j in range(x,len(pos)):
            words += pos[j][0]
            # if j == x:
            #     word_key.append(words)
            #     continue
            # else:
            #     word_joint.append(words)
            word_key.append(pos[x][0])
            word_joint.append(words)
        x += 1
        if x == len(pos):
            break;
    
    
word_joint_aggregate = dict.fromkeys(word_key)
df = pd.DataFrame(word_joint,index=word_key,columns=['word'])

pd.DataFrame(df['word'].value_counts())

# pd.pivot_table(df,index=['word'],columns=[''])
# for i in word_joint_aggregate:
#     print(i)

          word
비            3
전공자          3
비전공자         3
개발자          3
취업           2
...        ...
공부솔직한방향!     1
공부솔직한방향      1
공부솔직한        1
공부           1
방법           1

[93 rows x 1 columns]

In [112]:
df.to_csv('/Users/young/Desktop/tester.csv')

In [80]:
tester = ['비전공자 개발자 취업 공부 솔직한 방향!','백엔드개발자 비전공자 어떻게 준비하나요?', "백엔드개발자 비전공자가 취업하는 방법"]
word_key = []
word_joint = []
for i in tester:
    x = 0
    pos = okt.pos(i)
    # word_joint.append([j[0] for j in pos])
    while True:
        tmp = []
        words = ''
        for j in range(x,len(pos)):
            words += pos[j][0]
            if j == x:
                word_key.append(words)
                tmp.append(words)
                # continue
            else:
                tmp.append(words)
        x += 1
        word_joint.append(tmp)
        if x == len(pos):
            break;
    
word_joint

[['비',
  '비전공자',
  '비전공자개발자',
  '비전공자개발자취업',
  '비전공자개발자취업공부',
  '비전공자개발자취업공부솔직한',
  '비전공자개발자취업공부솔직한방향',
  '비전공자개발자취업공부솔직한방향!'],
 ['전공자',
  '전공자개발자',
  '전공자개발자취업',
  '전공자개발자취업공부',
  '전공자개발자취업공부솔직한',
  '전공자개발자취업공부솔직한방향',
  '전공자개발자취업공부솔직한방향!'],
 ['개발자', '개발자취업', '개발자취업공부', '개발자취업공부솔직한', '개발자취업공부솔직한방향', '개발자취업공부솔직한방향!'],
 ['취업', '취업공부', '취업공부솔직한', '취업공부솔직한방향', '취업공부솔직한방향!'],
 ['공부', '공부솔직한', '공부솔직한방향', '공부솔직한방향!'],
 ['솔직한', '솔직한방향', '솔직한방향!'],
 ['방향', '방향!'],
 ['!'],
 ['백엔드',
  '백엔드개발자',
  '백엔드개발자비',
  '백엔드개발자비전공자',
  '백엔드개발자비전공자어떻게',
  '백엔드개발자비전공자어떻게준비',
  '백엔드개발자비전공자어떻게준비하나요',
  '백엔드개발자비전공자어떻게준비하나요?'],
 ['개발자',
  '개발자비',
  '개발자비전공자',
  '개발자비전공자어떻게',
  '개발자비전공자어떻게준비',
  '개발자비전공자어떻게준비하나요',
  '개발자비전공자어떻게준비하나요?'],
 ['비', '비전공자', '비전공자어떻게', '비전공자어떻게준비', '비전공자어떻게준비하나요', '비전공자어떻게준비하나요?'],
 ['전공자', '전공자어떻게', '전공자어떻게준비', '전공자어떻게준비하나요', '전공자어떻게준비하나요?'],
 ['어떻게', '어떻게준비', '어떻게준비하나요', '어떻게준비하나요?'],
 ['준비', '준비하나요', '준비하나요?'],
 ['하나요', '하나요?'],
 ['?'],
 ['백엔드',
  '백엔드개발자',
  '백엔드개발자비',
  '백엔드개발자비전공자',
  '백엔드개발자비전공자가',
  '백엔드개발자비전공자가취업',
  '백엔드개발자비전공자가취업하는',
  '백엔드개발자비전공자가취업하는방법'],
 ['개발자',
  '개발자비',
  '개발자비전공자',
  '개발자비전공자가',
  '개발자비전공자가취업',
  '개발자비전공자가취업하는',
  '개발자비전공자가취업하는방법'],
 ['비', '비전공자', '비전공자가', '비전공자가취업', '비전공자가취업하는', '비전공자가취업하는방법'],
 ['전공자', '전공자가', '전공자가취업', '전공자가취업하는', '전공자가취업하는방법'],
 ['가', '가취업', '가취업하는', '가취업하는방법'],
 ['취업', '취업하는', '취업하는방법'],
 ['하는', '하는방법'],
 ['방법']]

In [42]:
asdf = {'a' : ['비','비전공'],'num':[100,30]}
for i in asdf.keys():
    print(i)
if 'a' in asdf.keys():
    print(1)

a
num
1

In [79]:
# asdf = {'a' : ['비','비전공'],'num':[100,30]}
asdf = [[100,97,54,32],[65,54,21,1]]
ad = pd.DataFrame(asdf,index=['비','백엔드'],columns=['비전공자','비전공자 개발자','비전공자 개발자 취업','비전공자'])
adt = ad.transpose()
adt
# pd.pivot_table(adt,index=["비","백엔드"],values=["비","백엔드"])

               비  백엔드
비전공자         100   65
비전공자 개발자      97   54
비전공자 개발자 취업   54   21
비전공자          32    1

In [50]:
word_joint_aggregate = dict.fromkeys(word_key)
# print(word_joint_aggregate)
for i in word_joint:

    key = i[0]
    del i[0]
    word_joint_aggregate[key] = i

IndexError: list index out of range

In [48]:
pd.DataFrame.from_dict(word_joint_aggregate,orient='index')

        0
비    None
전공자  None
개발자  None
취업   None
공부   None
솔직한  None
방향   None
!    None
백엔드  None
어떻게  None
준비   None
하나요  None
?    None
가    None
하는   None
방법   None