In [14]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import scale
from pyclustertend import hopkins

In [3]:
df = pd.read_csv('../data/top_50_billionaires2.csv')
df.head()

,RANK,NET WORTH,AGE,IT(1) / Beauty(2) / Car(3),북미(1) / 유럽(2) / 아시아(3) / 기타(4),NAME
0,1,176.6,73,1,2,Bernard Arnault & family
1,2,146.5,51,2,1,Elon Musk
2,3,116.7,60,3,3,Gautam Adani
3,4,108.5,58,1,1,Jeff Bezos
4,5,106.3,92,1,1,Warren Buffett

In [38]:
x = df[['NET WORTH','AGE']].values
x

array([[176.6,  73. ],
       [146.5,  51. ],
       [116.7,  60. ],
       [108.5,  58. ],
       [106.3,  92. ],
       [103.5,  67. ],
       [101.4,  78. ],
       [ 87.9,  65. ],
       [ 83.6,  82. ],
       [ 78.2,  66. ],
       [ 78.2,  49. ],
       [ 76.8,  80. ],
       [ 75. ,  49. ],
       [ 71.4,  69. ],
       [ 67.8,  68. ],
       [ 64. ,  86. ],
       [ 61.5,  74. ],
       [ 60.2,  78. ],
       [ 59.3,  73. ],
       [ 58.2,  60. ],
       [ 58.2,  87. ],
       [ 52.3,  65. ],
       [ 51.6,  57. ],
       [ 49.5,  38. ],
       [ 44.8,  84. ],
       [ 43. ,  38. ],
       [ 41.4,  52. ],
       [ 39. ,  83. ],
       [ 39. ,  87. ],
       [ 35. ,  58. ],
       [ 35. ,  51. ],
       [ 33.7,  86. ],
       [ 33.7,  65. ],
       [ 33.6,  83. ],
       [ 33.6,  94. ],
       [ 32.8,  71. ],
       [ 32.8,  74. ],
       [ 32.7,  53. ],
       [ 31.3,  54. ],
       [ 30.9,  77. ],
       [ 30.3,  94. ],
       [ 30.3,  73. ],
       [ 30. ,  64. ],
       [ 29.6,  42. ],
       [ 28.9,  85. ],
       [ 28.1,  84. ],
       [ 27.8,  74. ],
       [ 27.7,  68. ],
       [ 27.5,  50. ],
       [ 27. ,  77. ],
       [ 26.4,  61. ],
       [ 25.4,  66. ],
       [ 25.3,  52. ],
       [ 24.8,  75. ],
       [ 24.7,  60. ],
       [ 24.4,  67. ],
       [ 23.7,  80. ],
       [ 23.7,  77. ],
       [ 23.5,  78. ],
       [ 23.5,  69. ],
       [ 23.3,  51. ],
       [ 23. ,  52. ],
       [ 23. ,  41. ],
       [ 22.9,  65. ],
       [ 22.7,  58. ],
       [ 22.3,  81. ],
       [ 21.9,  79. ],
       [ 21.9,  56. ],
       [ 21.8,  36. ],
       [ 21.5,  83. ],
       [ 21.4,  89. ],
       [ 21.2,  77. ],
       [ 21. ,  72. ],
       [ 20.9,  81. ],
       [ 20.8,  70. ],
       [ 20.2,  61. ],
       [ 20.1,  56. ],
       [ 19.8,  84. ],
       [ 19.4,  57. ],
       [ 19.1,  73. ],
       [ 18.7,  52. ],
       [ 18.5,  59. ],
       [ 18.5,  65. ],
       [ 18.4,  57. ],
       [ 18.2,  82. ],
       [ 18.1,  61. ],
       [ 17.8,  67. ],
       [ 17.7,  71. ],
       [ 17.6,  86. ],
       [ 17.5,  66. ],
       [ 17.4,  76. ],
       [ 17.4,  90. ],
       [ 17.4,  45. ],
       [ 16.8,  60. ],
       [ 16.8,  72. ],
       [ 16.8,  66. ],
       [ 16.8,  91. ],
       [ 16.7,  54. ],
       [ 16.5,  71. ]])

In [39]:
hopkins(scale(x),x.shape[0])

0.2754400673417197